<header>
        <h1><a href="index.html">Julian</a></h1>
        <p>Date and time library for Prolog</p>

        <p class="view"><a href="https://github.com/mndrix/julian">View the Project on GitHub <small>mndrix/julian</small></a></p>


        <ul>
          <li><a href="https://github.com/mndrix/julian/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/mndrix/julian/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/mndrix/julian">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
